/* shoppingCart.css
Summer 2015
Vincent Nguyen */

#product_table{
	width: 80%;
	margin: 0px 20px 0px 80px;
}

#cart_table{
	width: 90%;
	margin: 0px 0px 0px 40px;
	text-align: center;
}

table, th, td{
	border: 1px solid black;
}

#container tr{
	text-align: center;
}

th{
	padding: 20px;
	margin: 20px;
}

#shopping_img{
	width: 150px;
	height: 150px;
	padding: 0px 15px 0px 15px;
}

#cart_buttons{
	text-align: right;
}

#cart_shop{
	padding-left: 45px;
}
